*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shered style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2 {
    font-size: 45px;
}
.color-orange{
    color: #FD6E0A;
    font-weight:bolder;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading h{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    padding: 20px;
}
/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../hero-dev-portfolio-code/images/developer.png"),url("../hero-dev-portfolio-code/images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    min-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#bannar{
    /* border: 1px solid black;  */
    margin: 47px 38px 0px 230px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    min-width: 585px;
}
#bannar .bannar-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}
 #bannar .bannar-content h1{
    font-size: 45px;
    font-weight: bold;
    color: #181818; 
    /* display: flex;  */
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#bannar .bannar-image img{ */
    max-width: 585px;
    vertical-align:middle;
    /* jastify-content:space-between; */
}



#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .about-card{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .about-card h4{
    font-size: 20px;
}
#skills , #about, #resume{
    padding: 130px;
}
#skills .skills-contaner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-contaner .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0px #00000027;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30pxs;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card h{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#resume .resume-contaner{
    width: 71%;
    mix-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}
.resume-contaner hr{
    margin: 30px 0;
}
.resume-contaner.section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right:47px ;
}
.resume-card .card-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.text-center{
    text-align: center;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130 0;
}
footer .footer-contaner{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-contaner .socal{
    min-width: 562px;
}
.footer-contaner .socal p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}
.footer-contaner h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-contaner .icons a{
    margin-right: 24px;
    /* min-width: 44px; */
    
}
.about-contaner, form input[type="text"],
.about-contaner, form textarea{

    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px ;
    border: none;
    border-radius: 5px;
    color: #757575;
}